<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Data</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <a href="{% url 'registerpage' %}" class="btn btn-primary">Register Page</a>
    <table>
        <tr>
          <th>id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>UserName</th>
          <th>Password</th>
          <th>Email</th> 
        </tr>
        {% for obj in obj %}
        <tr>
          <td>{{obj.id}}</td>
          <td>{{obj.FirstName}}</td>
          <td>{{obj.LastName}}</td>
          <td>{{obj.UserName}}</td>
          <td>{{obj.Password}}</td>
          <td>{{obj.Email}}</td>
        </tr>
        {% endfor %}
      </table>
    </form>
</body>
</html>